
<div class="bg-secondary text-center rounded p-4">
    <h2>Clients</h2>
    <table class="table table-hover" id="MyTable">
        <tr>
            <th>Nombre Cliente</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Fecha Nacimiento</th>
            <th>Correo</th>
            <th>Numero Telefono</th>
            <th>Domicilio</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NombreCli</td>
                <td>@item.ApePat</td>
                <td>@item.ApeMat</td>
                <td>@item.FechaNacimiento</td>
                <td>@item.correo</td>
                <td>@item.NumTelefono</td>
                <td>@item.Domicilio</td>
                <td><a href="~/home/ClientsForm?IdCLI=@item.IdCLI" class="btn btn-info">Editar</a></td>
                <td><a href="~/home/EliminarCLI?IdCLI=@item.IdCLI" class="btn btn-danger">Eliminar</a></td>
            </tr>
        }
    </table>
    <a href="~/home/ClientsForm" type="button" class="btn btn-dark">Añadir Cliente</a>
</div>