<div class="bg-secondary text-center rounded p-4">
    <h2>Sales</h2>
    <table class="table table-hover" id="MyTable">
        <tr>
            <th>Empleado</th>
            <th>Cliente</th>
            <th>Libros</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Total</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Personal.NombrePer</td>
                <td>@item.Clientes.NombreCli</td>
                <td>@item.Libros.NombreLibro</td>
                <td>@item.CantidadLibroVenta</td>
                <td>@item.CostoVentaSubtotal</td>
                <td>@item.CostoVentaTotal</td>
                <td><a href="~/home/SalesForm?IdVE=@item.IdVE" class="btn btn-info">Editar</a></td>
                <td><a href="~/home/EliminarSa?IdVE=@item.IdVE" class="btn btn-danger">Eliminar</a></td>
            </tr>
        }
    </table>
    <a href="~/home/SalesForm" type="button" class="btn btn-dark">Registrar Venta</a>
</div>
